<img class="logo" src="assets/PriceSmart.png">
<!-- Menu search Battery -->
<div class="container">
  <br>

  <div id="cardFind" class="card shadow mb-4">

    <div class="card-header py-3  text-center" style="background:#2256a0;border-radius: 5px">
      <h6 class="m-0 font-weight-bold text-white">ENCUENTRE LA BATERIA PARA SU VEHICULO </h6>
    </div>

    <div class="card-body">

      <div class="row justify-content-center">
        <div>
          <h6>Marca</h6>
          <p-dropdown #ddMarca [options]="cars" [(ngModel)]="bateryValue.idMarca" [style]="{'width':'200px'}"
            (onChange)="getModels(bateryValue.idMarca)" filter="true" placeholder="Seleccione la marca">
            <ng-template let-item pTemplate="selectedItem">
              <img src="assets/Marcas/{{item.label}}.png" style="width:18px;vertical-align:middle" />
              <span style="vertical-align:middle; margin-left: .5em">{{item.label}}</span>
            </ng-template>
            <ng-template let-car pTemplate="item">
              <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                <img src="assets/Marcas/{{car.label}}.png" style="width:24px;position:absolute;top:1px;left:5px" />
                <div style="font-size:14px;float:right;margin-top:4px">{{car.label}}</div>
              </div>
            </ng-template>
          </p-dropdown>
        </div>
      </div>

      <div class="row justify-content-center py-3">
        <div>
          <h6>Modelo</h6>
          <p-dropdown #ddModelo [options]="model" [(ngModel)]="bateryValue.idModelo" [style]="{'width':'200px'}"
            placeholder="Seleccione un modelo" filter="true" (keyup.enter)="getBatery()">
          </p-dropdown>
        </div>
      </div>

      <div class="row justify-content-center">
        <button class="btn btn-success" style="margin-top: 20px;width: 180px; border-radius: 10px"
          (click)="getBatery()">
          <h6>Buscar</h6>
        </button>
      </div>

    </div>
  </div>

</div>
<!--End Menu search Battery -->

<hr style="background:#2256a0;height: 10px;">

<div class="align-items-center text-center" *ngIf="spinner">
  <div class="loader"></div>
</div>

<!-- Show Battery -->
<section id="baterias" *ngIf="!publicidad">
  <div class="container-fluid" style="width: 90%" (mouseover)="timeLeft=80">

    <button type="button" class="close" aria-label="Close" (click)="publicidad=true">
      <span aria-hidden="true"><i class="fas fa-arrow-left"></i> Atras</span>
    </button>

    <div class="row align-items-center justify-content-center">

      <div class="col-md-3 py-2" *ngFor="let bateria of batery">
        <div class="card shadow text-center" id="cardBattery" style="border-radius: 10px">
          <div class="card-header text-white d-flex justify-content-between align-items-center"
            style="background:#2256a0;border-radius: 10px">
            <h4><STrong>{{bateria.Opcion}}</STrong></h4>
          </div>

          <div class="card-body">
            <img class="centerOne" src="assets/Baterias/{{bateria.Numero}}.png">
            <h5> <STrong>{{bateria.Descripcion}}</STrong></h5>
            <p><i class="fas fa-star"></i> Bateria Numero <strong>{{bateria.Numero}}</strong></p>
            <a class="btn btn-info text-white" (mouseover)="timeLeft=80" (click)="showModal(bateria, productsModal)"
              style="border-radius: 10px">
              Mas Informacion
            </a>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
<!--End Show Battery -->

<!--Show advertising -->
<section id="publicidad" *ngIf="publicidad">

  <div class="container-fluid" style="width: 90%">

    <!-- Video -->
    <div id="carouselAdvertising">
      <owl-carousel [options]="mySlideOptions" [carouselClasses]="['owl-theme', 'sliding']">

        <div class="item">

          <div class="col-md-3" id="cardPublicidad">
            <div class="card text-center" style="border: 0cm;">
              <div class="card-body text-center" style="border: 0cm;padding: 0px;">

                <img id="imgAdversiting" class="centerOne" src="assets/Publicidad/Arte/2.png"
                  (click)="showModalAdvertisingOne(Modaladvertising)" style="cursor:pointer;">
              </div>
            </div>
          </div>

        </div>

        <div class="item">

          <div class="col-md-3" id="cardPublicidad">
            <div class="card text-center" style="border: 0cm;">
              <div class="card-body text-center" style="border: 0cm;padding: 0px">

                <video controls>
                  <source src="assets/Videos/1.mp4" type="video/mp4">
                  Your browser does not support the video tag.
                </video>


              </div>
            </div>
          </div>
        </div>

        <div class="item">

          <div class="col-md-3" id="cardPublicidad">
            <div class="card text-center" style="border: 0cm;">
              <div class="card-body text-center" style="border: 0cm;padding: 0px">

                <img id="imgAdversiting" class="centerOne" src="assets/Publicidad/Arte/1.jpg"
                  (click)="showModalAdvertisingOne(ModaladvertisingOne)" style="cursor:pointer;">
              </div>
            </div>
          </div>
        </div>

        <div class="item">

          <div class="col-md-3" id="cardPublicidad">
            <div class="card text-center" style="border: 0cm;">
              <div class="card-body text-center" style="border: 0cm;padding: 0px">

                <video controls>
                  <source src="assets/Videos/2.mp4" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
              </div>
            </div>
          </div>
        </div>


      </owl-carousel>
    </div>

    <!-- End Video -->

    <h5 class="text-center" style="color:#2256a0;position:inherit;" id="titleAdvertising"> <strong
        style="color: #2256a0">Productos
        Destacados</strong>
    </h5>

    <div id="itemsAdvertising" class="row">

      <div class="col-md-2" id="cardPublicidad" *ngFor="let publi of itemsPublicidad">
        <div class="card text-center" style="border: 0cm;">
          <div class="card-body" id="cardAdvertising" style="border: 0cm;padding: 0px">
            <div class="card-header d-flex justify-content-between align-items-center"
              style="border: 0cm;background-color: white">
            </div>
            <img id="myImg" src="assets/Publicidad/{{publi.id_item_publicidad}}.jpg" style="width: 140px;height: 145px">
            <h6>{{publi.descripcion_corta}}</h6>
            <a class="btn btn-info" style="color: white"
              (click)="showModalAdvertising(publi, productsModaladvertising)">Ver
            </a>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
<!--End Show advertising -->

<!-- Modal battery -->
<ng-template #productsModal style="border-radius: 10px">
  <div class="modal-header">
    <h5 class="modal-title">
      <img class="header" src="assets/Baterias/{{Mbattery.Marca}}.jpg">
    </h5>
    <button type="button" class="close" aria-label="Close" (click)="closeModal(productsModal)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-left">
    <div class="align-items-center text-center">
      <img class="centerTwo" src="assets/Baterias/{{Mbattery.Numero}}.png">
    </div>
    <hr>
    <div> <strong>Descripcion:</strong> {{Mbattery.Descripcion}}</div>
    <div> <strong style="color: red">Numero de Bateria:</strong> {{Mbattery.Numero}} <i class="fas fa-car-battery"></i>
    </div>
    <div style="background-color:silver"> <strong>{{detail}}</strong></div>
    <div>
      <hr>
      <p-fieldset [toggleable]="true" legend="Garantia" *ngIf="!garanty">
        Garantía limitada (aplicable solo en baterías instaladas en PriceSmart) Si la batería no fue instalada en
        PriceSmart el socio tiene máximo una (1) semana para regresar con su vehiculo para que el personal del centro de
        llantas verifique que todo está bien y valide su garantía
        <br>
        <span style="background-color:#F7FE2E;"><i class="fas fa-star"></i> El socio debe traer su vehículo para
          revisión de la batería y sistema
          de carga cada 3 meses o 3.000 KM <strong>(Barranquilla cada 2 meses)</strong>, lo que suceda primero, para
          hacer valida la garantía</span>
      </p-fieldset>
      <p-fieldset [toggleable]="true" legend="Garantia" *ngIf="garanty">
        <img class="centerThree" src="assets/Baterias/Garanty/{{imgGaranty}}.jpg">
      </p-fieldset>
    </div>
  </div>
</ng-template>
<!--End Modal battery -->

<!-- Modal Items advertising -->
<ng-template #productsModaladvertising style="border-radius: 10px">
  <div class="modal-header">
    <h5 class="modal-title">
      <i class="fas fa-star"></i> Producto destacado
    </h5>
    <button type="button" class="close" aria-label="Close" (click)="closeModal(productsModaladvertising)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-left">
    <div class="align-items-center text-center">
      <img class="centerTwo" src="assets/Publicidad/{{Madvertising.id_item_publicidad}}.jpg">
    </div>
    <hr>
    <div> <strong>Descripcion:</strong> {{Madvertising.descripcion_corta}}</div>
    <div> <strong>Marca:</strong> {{Madvertising.marca}}</div>
    <div> <strong style="color: red">Item #:</strong> <strong>{{Madvertising.id_item_publicidad}}</strong></div>
    <hr>
    <h5> <strong>Caracteristicas</strong></h5>
    <li type="disc" *ngIf="Madvertising.c1">{{Madvertising.c1}}</li>
    <li type="disc" *ngIf="Madvertising.c2">{{Madvertising.c2}}</li>
    <li type="disc" *ngIf="Madvertising.c3">{{Madvertising.c3}}</li>
    <li type="disc" *ngIf="Madvertising.c4">{{Madvertising.c4}}</li>
    <li type="disc" *ngIf="Madvertising.c5">{{Madvertising.c5}}</li>
    <li type="disc" *ngIf="Madvertising.c6">{{Madvertising.c6}}</li>
    <li type="disc" *ngIf="Madvertising.c7">{{Madvertising.c7}}</li>
    <li type="disc" *ngIf="Madvertising.c8">{{Madvertising.c8}}</li>
    <li type="disc" *ngIf="Madvertising.c9">{{Madvertising.c9}}</li>
    <li type="disc" *ngIf="Madvertising.c10">{{Madvertising.c10}}</li>
    <hr>
    <div style="text-align: center"> <strong style="color:#2256a0"><img src="assets/star.png"
          style="width:20px;height: 20px; "> Encuentre este
        producto en la seccion de vehiculos del Club. <img src="assets/star.png"
          style="width:20px;height: 20px; "></strong></div>

  </div>
</ng-template>
<!-- End Modal Items advertising -->



<!-- Modal Items advertising -->
<ng-template #Modaladvertising style="border-radius: 10px">
  <div class="modal-header">
    <h5 class="modal-title" style="color: rgb(34, 86, 160)">
      <img src="assets/star.png" style="width:20px;height: 20px; "> <strong>Oferta</strong> <img src="assets/star.png"
        style="width:20px;height: 20px; ">
    </h5>
    <button type="button" class="close" aria-label="Close" (click)="closeModal(Modaladvertising)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-left">
    <div class="align-items-center text-center" style=" display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;">
      <img  src="assets/Publicidad/Arte/2.png" style="width: 30%;height:30%;">
      <img src="assets/Publicidad/Arte/Bridgestone.png" style=" display: block;
      margin-left: auto;
      margin-right: auto;
      width: 200px;
      height: 50px;">
      <img src="assets/Publicidad/Arte/Firestone.png" style=" display: block;
      margin-left: auto;
      margin-right: auto;
      width: 200px;
      height: 40px;">
    </div>
    <hr>
    <div>
      <h5> <strong>Descripción</strong></h5>
      <p>Por la compra de un juego de 4 llantas ahorre $100.000 y pagando con su tarjeta de crédito PriceSmart Colpatria
        reciba $100.000 de bono adicional.</p>
      <p> Este bono aplica para un máximo de 2 juegos de llantas por socio activo, leer condiciones en la parte
        inferior.</p>
    </div>
    <div> <strong>Vigencia:</strong> * Valido del 22 de noviembre al 23 de diciembre de 2019 *</div>
    <hr>
    <h5> <strong>Codiciones</strong></h5>
    <p style="text-align: justify;">El bono es válido para comprar máximo dos juegos de llantas por membrecía PriceSmart
      activa. Con tu tarjeta de
      Crédito PriceSmart Colpatria solo puedes obtener un máximo de dos bonos. Por los $100.000 de bono adicional, la
      compra debe realizarse en su totalidad con la Tarjeta de Crédito PriceSmart Colpatria y esta debe encontrarse al
      día, activa y sin ningún bloqueo, este bono se aplicará al valor total de la compra por cada socio. El bono es
      personal e intransferible. No es canjeable por dinero en efectivo u otros productos. Oferta limitada a
      disponibilidad de inventario en cada Club PriceSmart. Llantas no disponibles en el Club de Menga, Cali. El precio
      de las llantas incluye instalación, balanceo, rotaciones, y reparación de pinchaduras ofrecidos por PriceSmart. El
      bono no es canjeable por dinero en efectivo u otros productos. Banco Colpatria no es vendedor, productor ni
      proveedor de los productos ofrecidos por PriceSmart por lo que no es responsable por la calidad, idoneidad o
      garantía de los mismos, cualquier reclamación debe realizarse exclusivamente en PriceSmart.</p>
    <hr>

  </div>
</ng-template>
<!-- End Modal Items advertising -->


<!-- Modal Items advertising -->
<ng-template #ModaladvertisingOne style="border-radius: 10px">
  <div class="modal-header">
    <h5 class="modal-title" style="color: rgb(34, 86, 160)">
      <img src="assets/star.png" style="width:20px;height: 20px; "><strong>Oferta</strong> <img src="assets/star.png"
        style="width:20px;height: 20px; ">
    </h5>
    <button type="button" class="close" aria-label="Close" (click)="closeModal(ModaladvertisingOne)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-left">
    <div class="align-items-center text-center">
      <img src="assets/Publicidad/Arte/1.jpg" style="max-width: 700px;" >

    </div>

  </div>
</ng-template>
<!-- End Modal Items advertising -->